{{#each bills}}
<tr>
    <td class="mcenter">
        {{id}}
    </td>
    <td class="mcenter">
        <img src="image/frame1.png" alt="No Image" style="width:50px" id="avatarItem{{id}}"/>
        <div id="nameitem{{id}}"></div>
    </td>
    <td class="mcenter" style="color:gray">
        {{date}}
    </td>
    <td class="mcenter" >
        <strong id="nameuser{{id}}"></strong></td>
    <td class="mcenter" id="price{{id}}"></td>
    <td class="mcenter" style=" color:green"> {{status}}</td>
    <td class="mcenter">
        <a class="btn btn-primary btn-md" data-toggle="modal" data-target="#viewModal" onclick="viewBill({{id}}, '{{date}}', '{{status}}','{{email}}', '{{fullname}}','{{tel}}', '{{address}}')">
            <i class="fa fa-folder" data-toggle="tooltip" data-placement="top" title="View bill"></i>
        </a>
        <a href="javascript:;" class="btn btn-danger btn-md" onclick="cancelBill({{id}})">
            <i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Move to system bin"></i>
        </a>
    </td>
</tr>
{{/each}}
<!-- modal view -->
<script>
    var DataBillView = {};  
    var listItem;  
    var viewBill = function(id, date, status, email, fullname, tel, address) {
        $('#nameBillDeli').html(fullname);
        $('#emailBillDeli').html(email);
        $('#telBillDeli').html(tel);
        $('#addressBillDeli').html(address);
        var data = {
            id: id
        }
        $.ajax({
            type: "POST",
            url: '/admin/manage_bill/bill', 
            cache: true,
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            data: JSON.stringify({
                billId: id
            }), 
            contentType: 'application/json',
            success: (src1)=> {
                $.ajax({
                    type: "POST",
                    url: '/admin/manage_bill/user', 
                    cache: true,
                    data: JSON.stringify({
                        userId: src1.userId
                    }), 
                    contentType: 'application/json',
                    success: (src2)=> {
                        DataBillView.address = src2.address;
                        DataBillView.tel = src2.phoneNum;
                        document.getElementById('addressBill').innerHTML = DataBillView.address;
                        document.getElementById('telBill').innerHTML = DataBillView.tel;
                        //document.getElementById('costDeliBill').innerHTML = DataBillView.costDeli;
                    }
                })
            }
        })
        $.ajax({
            type: "POST", 
            url: '/admin/manage_bill/billitem',
            cache: true, 
            data : JSON.stringify(data),
            contentType: 'application/json',
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            success: (src)=> {
                listItem = "";
                src.rows.forEach(e=>{
                    // get info each item
                    var data1 = {
                        itemId: e.itemId
                    }
                    $.ajax({
                        type: "POST",
                        url: '/admin/manage_bill/item', 
                        cache: true,
                        data: JSON.stringify(data1), 
                        contentType: 'application/json',
                        success: (src)=> {
                            // get name and tel
                            listItem += "<div class='row'>" + "<div class='col-xs-4'>"+"<div id='prodcut-image'>" +
                                        "<img src='"
                                        + src.itemImgDemo
                                        +"' alt='...'' style='width:100%;text-align: center'>" +
                                        "</div>" + "</div>" + "<div class='col-xs-8'>"+
                                        '<div class="row">'+
                                        '<div class="col-md-3"> Tên khung </div>'+
                                        '<strong class="col-md-9">' +src.itemName+'</strong>'+
                                        '</div>'+
                                        '<div class="row">'+
                                        '<div class="col-md-3"> Thông tin </div>'+
                                        '<strong class="col-md-9">' +src.itemInfo+ '</strong>'+
                                        '</div>'+
                                        '<div class="row">'+
                                        '<div class="col-md-3"> Chất liệu </div>'+
                                        '<strong class="col-md-9">' +src.itemMaterial+ '</strong>'+
                                        '</div>'+ 
                                        '<div class="row">'+
                                        '<div class="col-md-3"> Kích thước </div>'+
                                        '<strong class="col-md-9">' +src.itemWidthSize+'x'+src.itemHeightSize+ '</strong>'+
                                        '</div>'+
                                        '<div class="row">'+
                                        '<div class="col-md-3"> Loại </div>'+
                                        '<strong class="col-md-9">' +src.itemType+ '</strong>'+
                                        '</div>'+ 
                                        '<div class="row">'+
                                        '<div class="col-md-3"> Giá </div>'+
                                        '<strong class="col-md-9">' +src.itemPrice+ '</strong>'+
                                        '</div>'+   
                                        '<div class="row">'+
                                        '<div class="col-md-3"> Số lượng </div>'+
                                        '<strong class="col-md-9">' +e.count+ '</strong>'+
                                        '</div>'+   
                                         "</div>" + "</div>"+'<hr>';                        
                            document.getElementById('listItemBill').innerHTML = listItem;    
                        }
                    })
                })
            }
        }) 
        
            var nameitem = 'nameitem' + id.toString();
            var nameuser = 'nameuser' + id.toString();
            var priceid = 'price' + id.toString();
            DataBillView.user = document.getElementById(nameuser).innerText;
            DataBillView.date = date;
            DataBillView.status = status;
            DataBillView.id = id;
            DataBillView.cost = document.getElementById(priceid).innerText;
            document.getElementById('nameBill').innerText = DataBillView.user;
            document.getElementById('dateBill').innerText = DataBillView.date;
            document.getElementById('costBill').innerText = DataBillView.cost;
            document.getElementById('statusBill').innerText = DataBillView.status;
            document.getElementById('idBill').innerText = DataBillView.id;
            //document.getElementById('addressBill').innterText = DataBillView.address;
            //document.getElementById('telBill').innerHTML = DataBillView.tel;
            //document.getElementById('costDeliBill').innerHTML = DataBillView.costDeli;
    }
    {{#each bills}}
        data = {
            userId: {{userId}}, 
            itemId: {{itemId}}
        }
        $.ajax({
            type: "POST",
            url: '/admin/manage_bill/item', 
            cache: true,
            data: JSON.stringify(data), 
            contentType: 'application/json',
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            success: (src)=> {
                var nameitem = 'nameitem' + '{{id}}';
                document.getElementById(nameitem).innerText = src.itemName;
                // price
                var price = '{{priceFinal}} vnđ';
                var priceid = 'price' + '{{id}}';
                document.getElementById(priceid).innerText = price;
                var avatar = 'avatarItem'+ '{{id}}';
                document.getElementById(avatar).src = src.itemImgDemo;
            }
        })
        $.ajax({
            type: "POST",
            url: '/admin/manage_bill/user', 
            headers: {'Authorization': 'bearer ' + $.cookie('JWT')},
            cache: true,
            data: JSON.stringify(data), 
            contentType: 'application/json',
            success: (src)=> {
                var nameuser = 'nameuser' + '{{id}}';
                document.getElementById(nameuser).innerText = src.fullName;
                document.getElementById('addressBill').innterText = src.address;
                document.getElementById('telBill').innterText = src.phoneNum;
            }
        })
    {{/each}}
</script>