{{#each itemsList.rows}}
<tr>
    <td>{{itemId}}</td>
    <td>
        <img src="{{itemImg}}" alt="" style="width:60px; height:60px">
    </td>
    <td>{{itemName}}</td>
    <td>{{itemMaterial}}</td>
    <td>{{itemPrice}}</td>
    {{#compare itemStatus "eq" 1}} 
        <td><span class="label label-success" style="color:white">Còn hàng</span> </td>
    {{else}} 
        {{#compare itemStatus "eq" 2}} 
        <td><span class="label label-danger" style="color:white">Hết hàng</span> </td>
        {{else}}
        <td><span class="label label-default" style="color:white">Ngưng SX</span> </td>
        {{/compare}}
    {{/compare}}
    <td>
        <a href="" class="btn btn-info btn-md" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa thông tin mặt hàng" onClick="editItem({{id}}); return false;">
            <i class="fa fa-pencil"></i>
        </a>
      
    </td>
</tr>
{{/each}}