{{#each catalogs}}
<tr>
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{count}}</td>
    <td></td>
    <td>
        <a href="" class="btn btn-info btn-md" data-toggle="tooltip" data-placement="top" title="Edit" onclick=" editCatalog({{id}}); return false;">
            <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-danger btn-md" data-toggle="tooltip" data-placement="top" title="Xóa danh mục" onclick="deleteCatalog({{id}}); return false;">
            <i class="fa fa-trash-o"></i>
        </a>
    </td>
</tr>
{{/each}}