   <div class="row">
 {{#each itemsList.rows}} 
 {{#compare itemStatus "neq" '3'}}
 {{#if (linebreak @index)}}
{{!-- <div class="card-group mb-2"> --}}
    {{!-- <div class="row"> --}}
        {{/if}}
        <div class="col-lg-4 p-1 col-md-8 p-0">
            <div class="card m-0" style="height:100%">
                <img class="card-img-top" src="{{itemImg}}" alt="Card image cap">
                <dikv class="card-body">
                    <h5 class="card-title">{{itemName}}</h5>
                    <p class="card-text">Mã hàng: {{itemId}}</p>
                    <p class="card-text">Chất liệu: {{itemMaterial}}</p>
                    <p class="card-text">Loại khung: {{itemType}}
                    </p>
                    <p class="card-text">Giá bán:
                        <span class="badge badge-dark">{{itemPrice}}</span>
                    </p>
                    
                    <p class="card-text">Tình trạng:
                    {{#compare itemStatus "eq" '1'}}
                            <span class="badge badge-success">Còn hàng</span>
                        {{else}} 
                            <span class="badge badge-danger">Hết hàng</span>
                    {{/compare}}
                </dikv>
            </div>
        </div>

        {{#if (linebreakclose @index)}}
    {{!-- </div> --}}
    {{/if}} 
  {{/compare}}    
{{/each}}
</div>